  <nav>
    <div class="nav-wrapper">
      <%= link_to "Nutrionix API App", root_path, class: "brand-logo right" %>
      <ul id="nav-mobile" class="left">
        <li><%= link_to "1", root_path, class: "" %></li>
        <li><%= link_to "2", root_path, class: "" %></li>
        <li><%= link_to "3", root_path, class: "" %></li>
      </ul>
    </div>
  </nav>